@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');

html, body {
  overflow:  visible;
  font-family: 'Spectral', serif;
  font-size: 15pt;
  background: #fafafa;
}

#version {
  float: right;
  font-size: 11pt;
  margin-right: 20px;
  line-height: 26pt;
  font-style: italic;
}
#version a {color: black; text-decoration: none;}

#menu h2 {
  margin-top: 0px;
  font-size: 17pt;
}

#menu .onglet_name:hover {color: #000097;}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #b3b3b3;
  width: 100%;
  padding-left: 10px;
}

.coin {width: 20px; vertical-align: sub; margin-right: 5px;}

#selected {
  color: blue;
  text-decoration: underline;
}

.onglet_name {
  cursor: pointer;
}

.onglet {display: none;}

h2 {margin-bottom: 0px;}
input {font-family: 'Spectral', serif; width: 200px;}
input[type=submit]{width: 80px;}
input[type=submit]:active{background: red;}
select {  font-family: 'Spectral', serif;}
#panel select {
  width: 250px;
  overflow-x: scroll;
  height: 200px;
}
option {display: block;}
#panel select[multiple]:focus option:checked {
  background: red linear-gradient(0deg, red 0%, red 100%);
}
.lore {text-decoration: underline;cursor: pointer;}
textarea {
  width: 500px;
  height: 150px;
}
input[type=submit].longButton {width: 200px;}
.shortInput {width: 40px;}


.item {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  display: inline-block;
}


/* Joueurs preview*/
.bar {width: 6px; height: 130px;margin-top: 15px;}

.joueur {
  text-align: center;
  margin: auto;
  display: table;
  white-space: nowrap;
  margin-bottom: 5px;
  font-size: 11pt;
  height: 165px;
  border-radius: 10px 10px 0 0;
  border: 2px solid #464646;
  background: white;
  transition: transform 0.2s;
}

.joueur:hover {
  transform: scale(1.1);
}

.joueur .part {
  vertical-align: top;
  display: inline-block;
  height: 100%;
  min-width: 200px;
  padding-left: 10px;
  padding-right: 10px;
}

.joueur .nom {font-size: 13pt;font-weight: bold; font-style: italic;}
.joueur .classe {font-size: 17px;font-weight: bold;margin-top: 10px;}
.joueur .title {font-size: 17px;margin-top: 10px;}

.joueur .etat  {
  border-radius: 4px;
  margin-top: 18px;
  margin-bottom: 18px;
  text-align: center;
  width: 250px;
  height: 27px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #7e7e7e;
  background: white;
  cursor: pointer;
}

.joueur .etat p {
  font-weight: bold;
  color: black;
  margin: 0;
  margin-top: 2px;
}

.left {}
.right {}

.joueur .control {
  margin-top: 5px;
}

.joueur .control input[type=submit] {
  width: 110px;
  margin-left: 4px;
  margin-right: 4px;
}

.joueur .dl {
    display: inline-block;
    margin-top: 10px;
}

.joueur .inventaire {width: 100%; height: 15pt;}

.joueur .piece {
  font-weight: bold;
  font-size: 12pt;
  clear: both;
  margin-top: 13px;
  margin-bottom: 13px;
  cursor: pointer;
}

.joueur_panel {
  padding: 10px;
  min-width: 300px;
  background: #f1f1f1;
  border: 2px solid black;
  border-radius: 10px;
  min-height: 200px;
  position: fixed;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}
.joueur_panel .control input[type=submit]{margin-left: 10px; margin-right: 10px;}
.joueur_panel input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;}


#caracteristiques_panel .inputs,#competences_panel .inputs {
  overflow: scroll;
  max-height: 500px;
}
#caracteristiques_panel input[type=number] ,#competences_panel input[type=number]{
  text-align: right;
  font-size: 15pt;
  width: 20px;
}
#caracteristiques_panel label,#competences_panel label,#presentation_panel label {
  display: block;
  margin-right: 20px;
  margin-bottom: 10px;
}

#presentation_panel label {text-align: right;}
#presentation_panel select {width: 200px;}

#competences_panel .name {width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;direction: rtl;}

#caracteristiques_panel .name,#competences_panel .name {width: 120px; display: inline-block;text-align: right;vertical-align: middle;}
#caracteristiques_panel img, #competences_panel img {width: 20px; vertical-align: -4px;}
#caracteristiques_panel .control,#competences_panel .control {text-align: center;}
#caracteristiques_panel .title,#competences_panel .title {font-size: 18pt; text-align: center;margin-bottom: 10px;}

.bonus_table td {
    text-align: right;
    vertical-align: top;
    max-height: 300px;
    column-width: 200px;
    column-count: auto;
}

#joueurs_wiki td {
  vertical-align: top;
  margin-right: 20px;
  display: inline-block;
}
